/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--general-font);
  background-color: var(--background-color);
  background-image: var(--background-image);
  color: var(--accent-color);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-variation-settings: "wdth" var(--weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 96px;
  margin-top: 100px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  min-block-size: 327px;
  transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: var(--font-size-logo);
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.theme-menu {
  padding-left: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 14px;
  font-family: var(--accent-font);
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
  padding: 0px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled.theme-menu__button::before {
  content: "▶";
  position: absolute;
  left: -20px;
  opacity: 0.6;
  inline-size: 14px;
  block-size: 14px;
  pointer-events: none;
  animation-name: fly;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
}

.section__card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.section__card-title {
  color: var(--accent-color);
  font-family: var(--general-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--weight-title);
  line-height: 22px;
  text-align: left;
  background-color: var(--background-color);
  padding: 4px 10px 3px;
  border-bottom: 2px solid var(--accent-color);
  transition: color 0.5s ease, background-color 0.5s ease,
    font-variation-settings 0.5s ease, border 0.5s ease;
}

.section__card-conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.section__card-label {
  position: absolute;
  top: 23px;
  right: 11px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--label), 0 1px var(--label), 1px 0 var(--label),
    0 -1px rgba(255, 255, 255, 0.5);
  transition: color 0.5s ease, text-shadow 0.5s ease,
    -webkit-text-stroke 0.5s ease;
}

@supports (
  (text-stroke: 1px var(--label)) or (-webkit-text-stroke: 1px var(--label))
) {
  .section__card-label {
    -webkit-text-stroke: 1px var(--label);
    text-stroke: 1px var(--label);
    text-shadow: none;
  }
}

.section__card-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.section__card-text {
  color: var(--accent-color);
  font-family: var(--general-font);
  font-size: 18px;
  line-height: 21px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 23px 25px 0px 25px;
  border-top: 2px solid var(--accent-color);
}

.card__menu {
  display: flex;
  padding: 24px 24px 21px 0px;
  align-self: flex-end;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  padding-bottom: 3px;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: var(--accent-font);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-size: 14px;
  width: 130px;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 49px 34px 102px 35px;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  gap: 8px;
  width: 306px;
  height: 83px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.floppy {
  width: 28px;
  height: 28px;
}

.footer__text {
  font-family: var(--accent-font);
  font-size: 14px;
  padding-bottom: 13px;
}

.footer__dialog {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 28px 40px;
  width: 341px;
}

.footer__dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.dialog__floppy {
  width: 89px;
  height: 63px;
}

.dialog__text {
  font-size: 14px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 150%;
  text-align: left;
}

.dialog__button {
  position: relative;
  background-color: transparent;
  font-family: var(--accent-font);
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
}

.dialog__button-text {
  position: relative;
  mix-blend-mode: difference;
  transition: mix-blend-mode 0.5s;
  z-index: 2;
  color: var(--accent-color-button);
}

.dialog__button::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 36px;
  background-color: var(--accent-background-button);
  transition: width 0.5s ease-in-out;
}

.dialog__button:hover::after {
  width: 100%;
}

.dialog__button:hover {
  cursor: pointer;
}

.dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.dialog__conteiner {
  display: flex;
  gap: 20px;
}

.footer__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.dialog__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

dialog::backdrop {
  background-color: #000000bf;
}

.image-1 {
  filter: saturate(25%);
}

.image-2 {
  filter: saturate(400%);
}

.image-3 {
  filter: hue-rotate(28deg) contrast(108%);
}

.image-4 {
  filter: invert(100%);
}

.image-5 {
  filter: sepia(88%) saturate(120%);
}
.image-6 {
  filter: blur(10px);
}

.image-7 {
  filter: hue-rotate(110deg) blur(2px) contrast(60%);
}

@media (width >=376px) {
  .page {
    margin: 0 auto;
    max-width: 700px;
  }

  .theme-menu {
    padding-bottom: 25px;
  }

  .header {
    padding-top: 136px;
  }

  .footer__button {
    flex-direction: row;
    justify-content: center;
    width: 335px;
    height: 55px;
  }
  .footer__text {
    padding-bottom: 0px;
  }
  .floppy {
    width: 21px;
    height: 21px;
  }
}
