/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --general-font: "Inter-Variable", monospace;
  --accent-font: "PressStart2P", fantasy;
  --weight-text: 465;
  --weight-title: 785;
  --background-color: rgb(0, 0, 0);
  --accent-color: rgb(0, 204, 20);
  --background-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  --label: rgba(0, 0, 0, 0.5);
  --heart-gulf: #ff0000;
  --heart-core: rgba(0, 0, 0, 0);
  --heart-main-body: rgba(0, 0, 0, 0);
  --accent-color-button: rgb(0, 204, 20);
  --accent-background-button: rgb(0, 204, 20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --general-font: "Inter-Variable", monospace;
    --accent-font: "PressStart2P", fantasy;
    --weight-text: 465;
    --weight-title: 785;
    --background-color: rgb(0, 0, 0);
    --accent-color: rgb(0, 204, 20);
    --background-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --label: rgba(0, 0, 0, 0.5);
    --heart-gulf: #ff0000;
    --heart-core: rgba(0, 0, 0, 0);
    --heart-main-body: rgba(0, 0, 0, 0);
    --accent-color-button: rgb(0, 204, 20);
    --accent-background-button: rgb(0, 204, 20);
  }

  :root.theme-light {
    --general-font: "Inter-Variable", monospace;
    --accent-font: "PressStart2P", fantasy;
    --weight-text: 400;
    --weight-title: 700;
    --background-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 0, 0);
    --background-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --label: rgba(255, 255, 255, 0.5);
    --heart-gulf: #ff0000;
    --heart-core: rgba(0, 0, 0, 0);
    --heart-main-body: rgba(0, 0, 0, 0);
    --accent-color-button: white;
    --accent-background-button: black;
  }
}
